[user]
	name =mnahmed
	email = mnahmed@parallelwireless.com
[core]
	editor = vi
	autocrlf = input
	eol = native
[push]
	default = current
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	co = checkout
	br = branch
	ci = commit
	st = status
	drymerge = merge --no-commit --no-ff -Xignore-all-space -Xignore-space-change
	mabort = merge --abort
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]\" --decorate
	lds = log --pretty=format:\"%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]\" --decorate --date=short
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]\" --decorate --numstat
	mkbr = checkout -b
	bra = branch -a
	mergenc = merge --no-commit
	logf = log --follow
	desc = describe
[log]
	date = local
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[http]
	sslVerify = false
